
    @media only screen and (max-width: 499px) {
    .boardBlock{
        width:100%;
    }
}

    @media only screen and (min-width: 500px) and (max-width: 1199px) {
    .boardBlock{
        width:50%;
    }
}

@media only screen and (min-width: 1200px) {
    .boardBlock{
        width: 33%;
    }
}

    .boardBlock{
    display: block;
    float:left;
      min-height:200px;
    padding: 10px;
}

    .boardBlock > div{
      cursor:pointer;
      background-color: #16434e;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      color:white;
      transition: 0.3s;
      padding: 10px;
    }

    .boardBlock > div.tasks{
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .boardBlock > div.tasks div.title{
      text-transform: none;
    }

    .boardBlock > div.title{
      font-weight:bold;
      cursor: text;
      text-align:center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .boardBlock .create input,
    .boardBlock .create textarea{
      border: 2px solid #00b4ff;
    }
    .boardBlock > div.title input{
      border: 2px solid white;
      padding: 7px;
      border-radius:4px;
    }
    .boardBlock .create{
      border-radius: 5px;
    }


.boardBlock > div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tasks .newForm {
    border: 2px solid gray;
    color: gray;
}
