  
    @media only screen and (min-width: 0px) {
    .boardBlock{
        width:100%;
    }
}

    @media only screen and (min-width: 500px) {
    .boardBlock{
        width:50%;
    }
}

@media only screen and (min-width: 1200px) {
    .boardBlock{
        width: 33%;
    }
}

    .boardBlock{
    display: block;
    float:left;
    padding: 10px;
}

.boardBlock > div{
    cursor:pointer;
    background-color: #EEE8AA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    min-height:200px;
    padding: 10px;
}

.boardBlock > div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.newForm {
    max-width:100%;
    border: 2px solid gray;
    color: gray;
}