.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 17px;
  left: 7px;
  top: 8px;
}

@media only screen and (max-width: 350px) {
  .bm-menu-wrap {
    width: 100% !important;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #203b46;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-item-list .createButton {
  font-size:30px;
  padding:0;
  line-height:35px;
}

.bm-item-list .logoutButton,
.bm-item-list .createButton {
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
}

.bm-item-list input[type="text"],
.bm-item-list textarea {
  min-width: 250px;
  width: 100%;
}

.bm-item-list .logoutButton:hover,
.bm-item-list .createButton:hover {
  border: 2px solid #00b4ff;
  color: #00b4ff;
}

#app .projectMainBg {
  height: calc(100vh - 35px);
  background-color: #577a83;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}
